/* Created by	: Yudha Rachmat Hidayat
 * Email		: email@yudha.web.id
 * Website		: https://yudha.id
 * 
 * */
 
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #ADBED0;
	background-image: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,0.3));
}

.as-table {
	display: table;
	margin: auto;
	height: 100%;
}

.as-table.full {
	width: 100%;
}

.as-td {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

button::-moz-focus-inner {
  border: 0;
}

.start-button,.answer_button, .alert-dialog-container > button {
	border: 2px solid #000;
	font-size: 32px;
	font-weight: bold;
	background: #d6d6d6;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	font-weight: bold;
	cursor: pointer;
	width: 90%;
	max-width: 300px;
}

.start-button:hover, .answer_button:hover, .alert-dialog-container > button:hover {
	background: #e6e6e6;
}

.start-button:active, .answer_button:active, .alert-dialog-container > button:active {
	background: #c6c6c6;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.player-id-container {
	margin: 10px 0 10px 0;
}

.reload-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 1000;
}

.reload-text {
	color: #FFF;
	font-size: 24px;
}

.question {
	margin: 20px 0 0 0;
	font-weight: bold;
	font-size: 60px;
	letter-spacing: 5px;
	text-transform: uppercase;
	word-break: break-all;
	display: inline-block;
	text-shadow: 
		2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
		1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px #000,
		2px 2px 5px rgba(0,0,0,0.5);
	color: #0000FF;
}

.answer, .input-text {
	text-transform: uppercase;
	border: 2px solid #000;
	padding: 10px;
	box-sizing: border-box;
	margin: 20px 0 20px 0;
	width: 90%;
	max-width: 300px;
	min-width: 200px;
	font-size: 16px;
}

.input-text {
	text-transform: none;
	margin: 5px 0 5px 0;
}

.answer_button {
	font-size: 24px;
}

.score-container {
	margin-bottom: 30px;
	font-size: 24px;
	position: relative;
	background: #90EE90;
	border: 2px solid #000;
	border-radius: 5px;
	padding: 10px 0 10px 0;
	width: 100%;
	max-width: 250px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	word-break: break-all;
	box-sizing: border-box;
}

.score-container > #score {
	font-weight: bold;
}

.player-id-container {
	word-break: break-all;
}

#add {
	font-size: 32px;
	position: absolute;
	font-weight: bold;
	top: -6px;
	padding: 10px 0 10px 0;
}

.justify {
	text-align: justify;
}

.red {
	color: #C52929;
}

.green {
	color: green;
}

a {
	text-decoration: none;
	color: #0000BA;
	font-weight: bold;
}

a:hover {
	color: #000094;
}

.alert-dialog-container {
	border: 2px solid #000;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 1px 1px 3px rgba(0,0,0,1);
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 300px;
	text-align: center;
	margin: auto;
}

.alert-dialog-container > p {
	padding: 10px;
	border-bottom: 1px solid #000;
	margin: auto;
	text-align: justify;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	min-height: 50px;
	line-height: 21px;
}

.alert-dialog-container > button {
	margin: 10px 0 10px 0;
	font-size: 14px;
	width: 90%;
}

.table-admin {
	background: #FFF;
	margin-top: 20px;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	border-spacing: 0;
}

.table-admin td, .table-admin th {
	padding: 10px;
	text-align: center;
}

.table-admin th {
	border-bottom: 1px solid #000;
}

@media (max-width:360px) {
	.table-admin td, .table-admin th {
		display: block;
		word-break: break-all;
	}
}
